
  .booking-page-form-container{
    max-width: 800px;
    margin: 100px auto 50px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  .booking-page-title {
    color: black;
    text-align: center;
    font-size: 24px;
  }
  
  /* Form styling */
  .booking-page-form {
    display: flex;
    flex-direction: column;
  }
  
  .booking-page-form-group {
    margin-bottom: 15px;
  }
  
  .booking-page-form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .booking-page-form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .booking-page-button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .booking-page-submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .booking-page-submit-button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .booking-page-content {
      padding: 15px;
    }
    
    .booking-page-submit-button {
      width: 100%;
    }
  }
  